<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    @* HTML Tags *@
    @* Start Header *@
 @*   <center>
        <div class="m-5">
            <a href="/Home/Index" class="btn btn-primary">Home </a>
            <a href="/Home/AboutUs" class="btn btn-success">About Us </a>
            <a href="/Home/ContactUs" class="btn btn-danger">Contact Us </a>
            <a href="/Home/Privacy" class="btn btn-warning">Privacy </a>
        </div>
   </center> *@

   @* HTML Helper *@
  @* Start Header *@
   @*  <center>
        <div class="m-5">
            @Html.ActionLink("Home", "Index", "Home",null, new {@class="btn btn-primary"})
            @Html.ActionLink("About Us", "AboutUs", "Home", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "btn btn-danger" })
            @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "btn btn-warning" })
        </div>
    </center> *@

    @* Tag Helper *@
    @* Start Header *@
     <center>
        <div class="m-5">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home </a>
            <a asp-controller="Home" asp-action="AboutUs" class="btn btn-success">About Us </a>
            <a asp-controller="Home" asp-action="ContactUS" class="btn btn-danger">Contact Us </a>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-warning">Privacy </a>
         </div>
    </center>


    <div>
        @RenderBody()
    </div>

    
    @* Start Footer *@
    <center>
        <div class="m-5">
            <p>CopyRights &copy; Route @DateTime.Now.Year</p>
        </div>
    </center>


</body>
</html>
